In [1]:
import pandas as pd
import numpy as np

In [9]:
csv_path = 'Resources/purchase_data.csv'
data_df = pd.read_csv(csv_path)

In [16]:
data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [67]:
num_players = len(data_df['SN'].value_counts())
num_players

576

In [68]:
item_count = len(data_df['Item Name'].value_counts())
item_count

179

In [36]:
avg_price = data_df['Price'].mean()
avg_price

3.050987179487176

In [37]:
total_purchases = data_df['Purchase ID'].count()
total_purchases

780

In [38]:
total_revenue = data_df['Price'].sum()
total_revenue

2379.77

In [201]:
gender_gp = data_df.groupby(['Gender', 'SN'])
gender_agg = gender_gp.agg({'Price': [np.size, np.sum]})

In [202]:
male_df = gender_agg.loc['Male']
male_count = len(male_df)
male_count

484

In [203]:
female_df = gender_agg.loc['Female']
female_count = len(female_df)
female_count

81

In [204]:
other_df = gender_agg.loc['Other / Non-Disclosed']
other_count = len(other_df)
other_count

11

In [47]:
male_df['Percent of Total'] = 100 * male_df['Number of Players'] / player_count
gender_df

                       Number of Players  Percent of Total
Male                                 652        113.194444
Female                               113         19.618056
Other / Non-Disclosed                 15          2.604167